{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DeepFrame Studio</title>

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<style>
    .modal-login .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }

    .modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
    }

    .modal-login .close {
        position: absolute;
        top: -10px;
        right: -10px;
    }

    .modal-login h4 {
        color: #636363;
        text-align: center;
        font-size: 26px;
        margin-top: 0;
    }

    .modal-login .modal-content {
        color: #999;
        border-radius: 1px;
        margin-bottom: 15px;
        background: #fff;
        border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 25px;
    }

    .modal-login .form-group {
        margin-bottom: 20px;
    }

    .modal-login label {
        font-weight: normal;
        font-size: 13px;
    }

    .modal-login .form-control {
        min-height: 38px;
        padding-left: 5px;
        box-shadow: none !important;
        border-width: 0 0 1px 0;
        border-radius: 0;
    }

    .modal-login .form-control:focus {
        border-color: black;
    }

    .modal-login .input-group-addon {
        max-width: 42px;
        text-align: center;
        background: none;
        border-bottom: 1px solid black;
        padding-right: 5px;
        border-radius: 0;
    }

    .modal-login .btn,
    .modal-login .btn:active {
        font-size: 16px;
        font-weight: bold;
        background: black !important;
        border-radius: 3px;
        border: none;
        min-width: 140px;
    }

    .modal-login .btn:hover,
    .modal-login .btn:focus {
        background: white !important;
        border-style: solid;
        border-color: black;
        color: black;
    }

    .modal-login .hint-text {
        text-align: center;
        padding-top: 5px;
        font-size: 13px;
    }

    .modal-login .modal-footer {
        color: #999;
        border-color: #dee4e7;
        text-align: center;
        margin: 0 -25px -25px;
        font-size: 13px;
        justify-content: center;
    }

    .modal-login a {
        color: #fff;
        text-decoration: underline;
    }

    .modal-login a:hover {
        text-decoration: none;
    }

    .modal-login a {
        color: #19aa8d;
        text-decoration: none;
    }

    .modal-login a:hover {
        text-decoration: underline;
    }

    .modal-login .fa {
        font-size: 21px;
        position: relative;
        top: 6px;
    }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }

    .modal-login {
        width: 350px;
    }
</style>

<body class="d-flex flex-column min-vh-100">
    <header class="mb-5">
        <div id="menu-jk" class="nav-part shadow-md bg-white navcol">
            <div class="container-lg">
                <div class="row  p-2">
                    <div class="col-lg-3 p-2">
                        <a href="{% url 'index' %}">
                            <img class="max-230" src="{% static 'assets/images/logoh.png' %}" alt="">
                        </a>
                        <a data-bs-toggle="collapse" data-bs-target="#menu" class="float-end d-lg-none pt-1 ps-3"><i
                                class="bi pt-1 fs-1 cp bi-list"></i></a>
                    </div>
                    <div id="menu" class="col-lg-9 d-none pt-1 d-lg-block">
                        <ul class="fw-bold nacul fs-7">
                            <li class="float-start p-3 px-4"><a href="{% url 'DF_detect'  %}"
                                    style="text-decoration: none;color: black;">DeepFake Detection</a>
                            </li>
                            <li class="float-start p-3 px-4"><a href="{% url 'colourize' %}"
                                    style="text-decoration: none;color: black;">Colorization</a></li>
                            <li class="float-start p-3 px-4"><a href="{% url 'extract_frames' %}"
                                    style="text-decoration: none;color: black;">Extract Frames</a>
                            </li>
                            <li class="float-start p-3 px-4"><a href="{% url 'reverse' %}"
                                    style="text-decoration: none;color: black;">Reverse </a></li>
                            <li class="float-start p-3 px-4"><a href="{% url 'change_speed' %}"
                                    style="text-decoration: none;color: black;">Change Speed </a></li>
                            {% if user.is_authenticated %}
                            <li class="float-end d-none d-md-block pt-2">
                                <a href="{% url 'logout' %}" style="text-decoration: none;color: white;"><button
                                        class="btn fw-bolder px-4 py-2 btn-dark"> Logout</button></a>
                            </li>
                            {% else %}
                            <li class="float-end d-none d-md-block pt-2">
                                <a href="#myModal" data-toggle="modal"
                                    style="text-decoration: none;color: white;"><button
                                        class="btn fw-bolder px-4 py-2 btn-dark"> Login</button></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}

    <!--  tools -->
    <div class="container-fluid products bg-gray big-padding pt-3" style="margin-top: 7%;">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center;">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}
        <div class="container-xl">
            <div class="section-title row">
                <h2 class="fs-1 fw-bold">All The Tools You Need!</h2>
                <p>Our mission is to empower users on the move with essential video editing tools. Furthermore, we offer
                    cutting-edge AI solutions for DeepFake Detection and Video Colorization</p>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'DF_detect'  %}">
                            <img class="w-125" src="{% static 'assets/images/services/df.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">DeepFake Detection</h2>
                        </a>
                        <p>Detect malicious DeepFakes with our State of the Art AI models.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'colourize' %}">
                            <img class="w-125" src="{% static 'assets/images/services/color.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Video Colorization</h2>
                        </a>
                        <p>Add vibrancy to your Black'n'White Videos via advanced AI Colization tools.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'merge' %}">
                            <img class="w-125" src="{% static 'assets/images/services/merge.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Merge Videos</h2>
                        </a>
                        <p>Combine multiple videos into a single video.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'trim'  %}">
                            <img class="w-125" src="{% static 'assets/images/services/trim.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Trim Video</h2>
                        </a>
                        <p>Selectively remove or cut specific segments from your video file.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'add_subtitles' %}">
                            <img class="w-125" src="{% static 'assets/images/services/subtitle.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Add Subtitles</h2>
                        </a>
                        <p>Add Subtitles, of your own choice, in any format to your videos.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'change_format' %}">
                            <img class="w-125" src="{% static 'assets/images/services/change.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Change Format</h2>
                        </a>
                        <p>Change the format of your video into one of our available formats.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'to_audio' %}">
                            <img class="w-125" src="{% static 'assets/images/services/audio.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Video to Audio</h2>
                        </a>
                        <p>Extract the audio component from your video.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'add_audio' %}">
                            <img class="w-125" src="{% static 'assets/images/services/mp3.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Add Audio</h2>
                        </a>
                        <p>Add any audio of your choice to your video.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'reverse' %}">
                            <img class="w-125" src="{% static 'assets/images/services/reverse.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Reverse Video</h2>
                        </a>
                        <p>Reverse your videos by flipping the chronological order of frames.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'change_speed' %}">
                            <img class="w-125" src="{% static 'assets/images/services/speed.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Change Speed</h2>
                        </a>
                        <p>Speed up or Slow down the speed of your videos</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'extract_frames' %}">
                            <img class="w-125" src="{% static 'assets/images/services/extract.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Extract Frames</h2>
                        </a>
                        <p>Extract each individual Frame from your video.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Login</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        style="border: none;">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="username" placeholder="Username"
                                    required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                    required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-lg"
                                style="margin-left: 50%; transform: translate(-50%);">Sign In</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">Don't have an account? <a href="{% url 'register' %}">Create one</a></div>
            </div>
        </div>
    </div>


    {% endblock content %}
    <!-- Modal HTML -->
    <footer class="text-center text-white " style="background-color:black;">
        <!-- Grid container -->
        <div class="container pt-1 pb-1">
            <!-- Section: Social media -->
            <section class="mb-2">
                <!-- Facebook -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #3b5998;" href="#!"
                    role="button"><i class="bi bi-facebook"></i></a>

                <!-- Twitter -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #55acee;" href="#!"
                    role="button"><i class="bi bi-twitter"></i></a>
                <!-- Instagram -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #ac2bac;" href="#!"
                    role="button"><i class="bi bi-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #0082ca;" href="#!"
                    role="button"><i class="bi bi-linkedin"></i></a>
                <!-- Github -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #333333;" href="#!"
                    role="button"><i class="bi bi-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <div class="text-center p-2" style="background-color: rgba(97, 90, 90, 0.2);">
            <a href="https://www.smarteyeapps.com/" class="text-white">2022 &copy; All Rights Reserved | Designed and
                Developed by Smarteyeapps.com</a>
        </div>
    </footer>

</body>
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

</html>