{% load static  %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DeepFrame Studio</title>

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <div id="menu-jk" class="nav-part shadow-md bg-white navcol">
            <div class="container-lg">
                <div class="row  p-2">
                    <div class="col-lg-3 p-2">
                        <a href="{% url 'index' %}">
                            <img class="max-230" src="{% static 'assets/images/logoh.png' %}" alt="">
                        </a>
                        <a data-bs-toggle="collapse" data-bs-target="#menu" class="float-end d-lg-none pt-1 ps-3"><i
                                class="bi pt-1 fs-1 cp bi-list"></i></a>
                    </div>
                    <div id="menu" class="col-lg-9 d-none pt-1 d-lg-block">
                        <ul class="fw-bold nacul fs-7">
                            <li class="float-start p-3 px-4"><a href="{% url 'DF_detect'  %}">DeepFake Detection</a></li>
                            <li class="float-start p-3 px-4"><a href="{% url 'colourize' %}">Colorization</a></li>
                            <li class="float-start p-3 px-4"><a href="">Upscaling</a></li>
                            <li class="float-start p-3 px-4"><a href="{% url 'extract_frames' %}">Extract Frames</a></li>
                            <li class="float-start p-3 px-4"><a href="{% url 'reverse' %}">Reverse </a></li>
                            <li class="float-end d-none d-md-block pt-2">
                                <button class="btn fw-bolder px-4 py-2 btn-dark">Login</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--  tools -->
    <div class="container-fluid products bg-gray big-padding pt-3">
        <div class="container-xl">
            <div class="section-title row">
                <h2 class="fs-1 fw-bold" style="margin-top: 7%;">All The Tools You Need!</h2>
                <p>Our mission is to empower users on the move with essential video editing tools. Furthermore, we offer
                    cutting-edge AI solutions for DeepFake Detection and Video Colorization</p>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'DF_detect'  %}">
                            <img class="w-125" src="{% static 'assets/images/services/df.png' %}" alt=""> 
                            <h2 class="fs-4 fw-bolder mt-4">DeepFake Detection</h2>
                        </a>
                        <p>Detect malicious DeepFakes with our State of the Art AI models.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'colourize' %}">
                            <img class="w-125" src="{% static 'assets/images/services/color.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Video Colorization</h2>
                        </a>
                        <p>Add vibrancy to your Black'n'White Videos via advanced AI Colization tools.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'merge' %}">
                            <img class="w-125" src="{% static 'assets/images/services/merge.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Merge Videos</h2>
                        </a>
                        <p>Combine multiple videos into a single video.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'trim'  %}">
                            <img class="w-125" src="{% static 'assets/images/services/trim.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Trim Video</h2>
                        </a>
                        <p>Selectively remove or cut specific segments from your video file.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'add_subtitles' %}">
                            <img class="w-125" src="{% static 'assets/images/services/subtitle.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Add Subtitles</h2>
                        </a>
                        <p>Add Subtitles, of your own choice, in any format to your videos.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'change_format' %}">
                            <img class="w-125" src="{% static 'assets/images/services/change.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Change Format</h2>
                        </a>
                        <p>Change the format of your video into one of our available formats.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'to_audio' %}">
                            <img class="w-125" src="{% static 'assets/images/services/audio.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Video to Audio</h2>
                        </a>
                        <p>Extract the audio component from your video.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'add_audio' %}">
                            <img class="w-125" src="{% static 'assets/images/services/mp3.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Add Audio</h2>
                        </a>
                        <p>Add any audio of your choice to your video.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'reverse' %}">
                            <img class="w-125" src="{% static 'assets/images/services/reverse.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Reverse Video</h2>
                        </a>
                        <p>Reverse your videos by flipping the chronological order of frames.</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'change_speed' %}">
                            <img class="w-125" src="{% static 'assets/images/services/speed.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Change Speed</h2>
                        </a>
                        <p>Speed up or Slow down the speed of your videos</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 col-md-6">
                    <div class="cover text-center p-1 shadow-lg bg-white">
                        <a style="text-decoration: none;" href="{% url 'extract_frames' %}">
                            <img class="w-125" src="{% static 'assets/images/services/extract.png' %}" alt="">
                            <h2 class="fs-4 fw-bolder mt-4">Extract Frames</h2>
                        </a>
                        <p>Extract each individual Frame from your video.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="text-center text-white " style="background-color:black;">
        <!-- Grid container -->
        <div class="container pt-1 pb-1">
            <!-- Section: Social media -->
            <section class="mb-2">
                <!-- Facebook -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #3b5998;" href="#!"
                    role="button"><i class="bi bi-facebook"></i></a>

                <!-- Twitter -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #55acee;" href="#!"
                    role="button"><i class="bi bi-twitter"></i></a>
                <!-- Instagram -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #ac2bac;" href="#!"
                    role="button"><i class="bi bi-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #0082ca;" href="#!"
                    role="button"><i class="bi bi-linkedin"></i></a>
                <!-- Github -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #333333;" href="#!"
                    role="button"><i class="bi bi-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <div class="text-center p-2" style="background-color: rgba(97, 90, 90, 0.2);">
            <a href="https://www.smarteyeapps.com/" class="text-white">2022 &copy; All Rights Reserved | Designed and
                Developed by Smarteyeapps.com</a>
        </div>
    </footer>

</body>
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
</html>