{% extends "index.html" %}
{% block content %}
{% load static %}
<div class="section-title row" style="margin-top: 7%;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center;">
        <strong>Error!</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}

        <h2 class="fs-1 fw-bold" style="margin-top: 7%;">Add Audio to Video</h2>
        <p>Combine video and audio seamlessly. Merge your audio content with different video tracks to enhance your multimedia experience. Customize your content by pairing visuals with the perfect soundtrack.
        </p>
    </div>

    <div class="container mb-auto">
        <!-- Centered input field using Bootstrap classes -->
        <form action="{% url 'add_audio' %}" method="post" class="text-center" id="detectForm"
            onsubmit="submitForm(this.querySelector('button[type=submit]'));" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-6 mx-auto">
                    <input class="form-control form-control-lg" id="formFileVid" type="file" accept="video/*"
                        name="input_vid" required onchange="checkFields()" />
                </div>
                <div class="col-sm-6 mx-auto">
                    <input class="form-control form-control-lg" id="formFileSubs" type="file"
                        accept="audio/*" name="input_audio"
                        required style="visibility: hidden;" onchange="checkFields()" />
                </div>
                <button type="submit" class="btn btn-dark mb-2 pt-2 pb-2" id="detectButton"
                    style="visibility: hidden;">Add Audio</button>
            </div>
        </form>
    </div>
    <script>
        function submitForm(button) {
            const form = button.form;

            // Set button properties
            button.disabled = true;
            button.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Adding';
            // Submit the form
            form.submit();
        }
    </script>

    <script>
        function checkFields() {
            var formFileVid = document.getElementById('formFileVid');
            var formFileSubs = document.getElementById('formFileSubs');
            var detectButton = document.getElementById('detectButton');

            // Check if both input fields are filled
            if (formFileVid.files.length > 0 && formFileSubs.files.length > 0) {
                // Display the #detectButton
                detectButton.style.visibility = 'visible';
            }
            if (formFileVid.files.length > 0 && formFileSubs.files.length == 0) {
                // Display the #detectButton
                formFileSubs.style.visibility = 'visible';
            }
        }
    </script>
{% endblock %}