{% extends "index.html" %}
{% block content %}
{% load static %}
<div class="section-title row" style="margin-top: 7%;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert"
        style="text-align: center;">
        <strong>Error!</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}        
    <h2 class="fs-1 fw-bold">Change Format</h2>
        <p> You can now seamlessly change video formats for compatibility across various devices and platforms.
            Our app supports a diverse set of video formats, including<b> .mp4, .mkv, .mov, .avi, .wmv, .webm, .mpg, .mpeg, .ogv, and .ogg.</b></p>
    </div>

    <div class="container mb-auto">
        <!-- Centered input field using Bootstrap classes -->
        <form action="{% url 'change_format' %}" method="post" class="text-center" id="detectForm"
            onsubmit="submitForm(this.querySelector('button[type=submit]'));" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-6 mx-auto">
                    <input class="form-control form-control-lg" id="formFileLg" type="file" accept="video/*"
                        name="input_vid" required onchange="checkFields()"/>
                </div>
                <div class="col-sm-2 mx-auto mb-4 ">
                    <select class="form-select " aria-label="Default select example" id="selectfield" style="visibility:hidden;" onchange="checkFields()" name="format">
                        <option selected>Select Format</option>
                        <option value=".mp4">.mp4</option>
                        <option value=".mkv">.mkv</option>
                        <option value=".mov">.mov</option>
                        <option value=".avi">.avi</option>
                        <option value=".wmv">.wmv</option>
                        <option value=".webm">.webm</option>
                        <option value=".mpg">.mpg</option>
                        <option value=".mpeg">.mpeg</option>
                        <option value=".ogv">.ogv</option>
                        <option value=".ogv">.ogg</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark mb-2 pt-2 pb-2" id="detectButton" style="visibility: hidden;">Change Format</button>
            </div>
        </form>
    </div>

    
    <script>
        function checkFields() {
            var formFileVid = document.getElementById('formFileLg');
            var selectfield = document.getElementById('selectfield');
            var detectButton = document.getElementById('detectButton');
    

            if (formFileVid.files.length > 0) {
                // Display the selectfield
                selectfield.style.visibility = 'visible';
            }            // Check if both input fields are filled
            if (formFileVid.files.length > 0 && selectfield.value !== 'Select Format') {
                // Display the #detectButton
                detectButton.style.visibility = 'visible';
            }

        }
    </script>
    

    <script>
        function submitForm(button) {
            const form = button.form;

            // Set button properties
            button.disabled = true;
            button.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Changing';
            // Submit the form
            form.submit();
        }
    </script>
    {% endblock %}