{% extends "index.html" %}
{% block content %}
{% load static %}
<div class="section-title row" style="margin-top: 7%;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert"
        style="text-align: center;">
        <strong>Error!</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}

    <div class="section-title row">
        <h2 class="fs-1 fw-bold">Change Speed!</h2>
        <p>Adjust the speed of your videos to suit your preferences. Whether you want to slow down to savor a moment or speed up for a more dynamic experience, this feature empowers you to control the pace of your video playback.</p>
    </div>

    <div class="container mb-auto">
        <!-- Centered input field using Bootstrap classes -->
        <form action="{% url 'change_speed' %}" method="post" class="text-center" id="detectForm"
            onsubmit="submitForm(this.querySelector('button[type=submit]'));" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-6 mx-auto">
                    <input class="form-control form-control-lg" id="formFileLg" type="file" accept="video/*"
                        name="input_vid" required onchange="checkFields()" />
                </div>
                <div class="col-sm-6 mx-auto">
                    <label for="floating-point-input" style="font-weight: bold;visibility: hidden;" id="label-spd">Speed Factor:</label>
                    <input type="number" step="0.01" id="floating-point-input" name="speed"
                        style="visibility: hidden;text-align: center;" min=0.5 max=100 required
                        onchange="checkFields()">
                </div>
                <div class="col-sm-6 mt-3 mx-auto">
                    <button type="submit" class="btn btn-dark mb-2 pt-2 pb-2" id="detectButton"
                        style="visibility: hidden;">Change Speed</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        function checkFields() {
            var formFileVid = document.getElementById('formFileLg');
            var detectButton = document.getElementById('detectButton');
            var speed_field = document.getElementById('floating-point-input');
            var label_spd = document.getElementById('label-spd');
            // Check if both input fields are filled
            if (formFileVid.files.length > 0) {
                label_spd.style.visibility = 'visible';
                speed_field.style.visibility = 'visible';
            };
            if (speed_field.value) {
                detectButton.style.visibility = 'visible';
            }

        }
    </script>

    <script>
        function submitForm(button) {
            const form = button.form;

            // Set button properties
            button.disabled = true;
            button.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Changing';
            // Submit the form
            form.submit();
        }
    </script>
{% endblock %}