{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Extract Frames</title>

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="d-flex flex-column min-vh-100">
        <header>
        <div id="menu-jk" class="nav-part shadow-md bg-white navcol">
            <div class="container-lg">
                <div class="row  p-2">
                    <div class="col-lg-3 p-2">
                        <a href="{% url 'index' %}">
                            <img class="max-230" src="{% static 'assets/images/logoh.png' %}" alt="">
                        </a>
                        <a data-bs-toggle="collapse" data-bs-target="#menu" class="float-end d-lg-none pt-1 ps-3"><i
                                class="bi pt-1 fs-1 cp bi-list"></i></a>
                    </div>
                    <div id="menu" class="col-lg-9 d-none pt-1 d-lg-block">
                        <ul class="fw-bold nacul fs-7">
                            <li class="float-start p-3 px-4"><a href="{% url 'DF_detect'  %}">DeepFake Detection</a></li>
                            <li class="float-start p-3 px-4"><a href="{% url 'colourize' %}">Colorization</a></li>
                            <li class="float-start p-3 px-4"><a href="">Upscaling</a></li>
                            <li class="float-start p-3 px-4"><a href="{% url 'extract_frames' %}">Extract Frames</a></li>
                            <li class="float-start p-3 px-4"><a href="{% url 'reverse' %}">Reverse </a></li>
                            <li class="float-end d-none d-md-block pt-2">
                                <button class="btn fw-bolder px-4 py-2 btn-dark">Login</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="section-title row">
        <h2 class="fs-1 fw-bold" style="margin-top: 7%;">Extract Frames From Video</h2>
        <p>We use XceptioNet, fine-tuned with celebDFv2 dataset, to detect deepfakes.
            Keep in mind there exist face forgery methods other than DeepFake such as Face2Face and Puppeteering. Our
            model is not trained to deal with such methods.</p>
    </div>

    <div class="container mb-auto">
        <!-- Centered input field using Bootstrap classes -->
        <form action="{% url 'extract_frames' %}" method="post" class="text-center" id="detectForm" onsubmit="submitForm(this.querySelector('button[type=submit]'));" enctype="multipart/form-data">
           {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-6 mx-auto">
                    <input class="form-control form-control-lg" id="formFileLg" type="file" accept="video/*" name="input_vid" required onchange="checkFields()"/>
                </div>
                <div class="col-sm-6 mx-auto">
                <button type="submit" class="btn btn-dark mb-2 pt-2 pb-2" id="detectButton" style="visibility: hidden;">Extract Frames</button>
                </div>
            </div>
        </form>
    </div>

        <footer class="text-center text-white " style="background-color:black;">
        <!-- Grid container -->
        <div class="container pt-1 pb-1">
            <!-- Section: Social media -->
            <section class="mb-2">
                <!-- Facebook -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #3b5998;" href="#!"
                    role="button"><i class="bi bi-facebook"></i></a>

                <!-- Twitter -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #55acee;" href="#!"
                    role="button"><i class="bi bi-twitter"></i></a>
                <!-- Instagram -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #ac2bac;" href="#!"
                    role="button"><i class="bi bi-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #0082ca;" href="#!"
                    role="button"><i class="bi bi-linkedin"></i></a>
                <!-- Github -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #333333;" href="#!"
                    role="button"><i class="bi bi-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <div class="text-center p-2" style="background-color: rgba(97, 90, 90, 0.2);">
            <a href="https://www.smarteyeapps.com/" class="text-white">2022 &copy; All Rights Reserved | Designed and
                Developed by Smarteyeapps.com</a>
        </div>
    </footer>

    <script>
        function checkFields() {
            var formFileVid = document.getElementById('formFileLg');
            var detectButton=document.getElementById('detectButton')
            // Check if both input fields are filled
            if (formFileVid.files.length > 0 ) {
                // Display the #detectButton
                detectButton.style.visibility = 'visible';
            };
            
        }
    </script>

    <script>
        function submitForm(button) {
            const form = button.form;

            // Set button properties
            button.disabled = true;
            button.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Extracting';
            // Submit the form
            form.submit();
        }
    </script>

</body>
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

</html>