{% extends "index.html" %}
{% block content %}
{% load static %}
<div class="section-title row" style="margin-top: 6%;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert"
        style="text-align: center;">
        <strong>Error!</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}
    <h2 class="fs-1 fw-bold" >Reverse Video</h2>
    <p>We use XceptioNet, fine-tuned with celebDFv2 dataset, to detect deepfakes.
        Keep in mind there exist face forgery methods other than DeepFake such as Face2Face and Puppeteering. Our
        model is not trained to deal with such methods.</p>
</div>

<div class="container mb-auto">
    <!-- Centered input field using Bootstrap classes -->
    <form action="{% url 'reverse' %}" method="post" class="text-center" id="detectForm"
        onsubmit="submitForm(this.querySelector('button[type=submit]'));" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-6 mx-auto">
                <input class="form-control form-control-lg" id="formFileLg" type="file" accept="video/*"
                    name="input_vid" required onchange="checkFields()" />
            </div>
            <div class="col-sm-6 mx-auto">
                <button type="submit" class="btn btn-dark mb-2 pt-2 pb-2 " id="detectButton"
                    style="visibility: hidden;">Reverse video</button>
            </div>
        </div>
    </form>
</div>

<script>
    function checkFields() {
        var formFileVid = document.getElementById('formFileLg');
        var detectButton = document.getElementById('detectButton')
        // Check if both input fields are filled
        if (formFileVid.files.length > 0) {
            // Display the #detectButton
            detectButton.style.visibility = 'visible';
        };

    }
</script>

<script>
    function submitForm(button) {
        const form = button.form;

        // Set button properties
        button.disabled = true;
        button.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Reversing';
        // Submit the form
        form.submit();
    }
</script>

{% endblock %}