{% extends "index.html" %}
{% block content %}
{% load static %}

<style>
    video {
        display: none;
        border-radius: 7px;
        border-style: solid;
        color: #333333;
        width: 100%;
        height: 100%;
    }

    #detectButton {
        visibility: hidden;
    }

    #hhmmss-container1,
    #hhmmss-container2 {
        visibility: hidden;
    }

    .custom-hhmmss-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .custom-hhmmss {
        display: flex;
        align-items: center;
    }

    .custom-hhmmss input {
        width: 40px;
        margin: 0 5px;
        text-align: center;
    }
</style>
<div class="section-title row" style="margin-top: 7%;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert"
        style="text-align: center;">
        <strong>Error!</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}        
    <h2 class="fs-1 fw-bold">Trim Video</h2>
        <p>You can now trim your videos, allowing you to keep only the most important and engaging
            parts. Whether you want to remove unnecessary sections, cut down on video length, or focus on specific
            moments, our Video Trimming feature provides you with the flexibility to create polished and concise video
            content. When trimming use the HH:MM:SS format.</p>
    </div>

    <div class="col-lg-3 mb-4 col-md-6 mx-auto">
        <div class="cover text-center p-1 bg-white">
            <video id="video" controls></video>
        </div>
    </div>

    <div class="container mb-auto">
        <!-- Centered input field using Bootstrap classes -->
        <form action="{% url 'trim' %}" method="post" class="text-center" id="detectForm"
            onsubmit="submitForm(this.querySelector('button[type=submit]'));" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-6 mx-auto">
                    <input class="form-control form-control-lg" id="formFileLg" type="file" accept="video/*"
                        name="input_vid" required onchange="checkFields()" />
                </div>
                <div class="custom-hhmmss-container">
                    <div class="custom-hhmmss" id="hhmmss-container1">
                        <input type="number" name="hh1" value="00">
                        <span>:</span>
                        <input type="number" min="0" max="59" name="mm1" value="00">
                        <span>:</span>
                        <input type="number" min="0" max="59" name="ss1" required>
                    </div>

                    <div class="custom-hhmmss" id="hhmmss-container2">
                        <input type="number" name="hh2" value="00">
                        <span>:</span>
                        <input type="number" min="0" max="59" name="mm2" value="00">
                        <span>:</span>
                        <input type="number" min="0" max="59" name="ss2" required>
                    </div>

                </div>
                <div class="col-sm-6 mt-3 mx-auto">
                    <button type="submit" class="btn btn-dark mb-2 pt-2 pb-2" id="detectButton">Trim Video</button>
                </div>
            </div>
        </form>
    </div>
    <!--Field visibility-->
    <script>
        function checkFields() {
            var formFileVid = document.getElementById('formFileLg');
            var detectButton = document.getElementById('detectButton');
            var video = document.getElementById('video');
            var time_2 = document.getElementById('hhmmss-container1');
            var time_1 = document.getElementById('hhmmss-container2');
            // Check if both input fields are filled hhmmss-container
            if (formFileVid.files.length > 0) {
                // Display the #detectButton
                video.style.display = 'block';
                detectButton.style.visibility = 'visible';
                time_1.style.visibility = 'visible';
                time_2.style.visibility = 'visible';
            };
        }
    </script>

    <!--submit button animation-->
    <script>
        function submitForm(button) {
            const form = button.form;

            // Set button properties
            button.disabled = true;
            button.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Triming';
            // Submit the form
            form.submit();
        }
    </script>

    <!--Video display-->
    <script>
        const input = document.getElementById('formFileLg');
        const video = document.getElementById('video');
        const videoSource = document.createElement('source');

        input.addEventListener('change', function () {
            const files = this.files || [];

            if (!files.length) return;

            const reader = new FileReader();

            reader.onload = function (e) {
                videoSource.setAttribute('src', e.target.result);
                video.appendChild(videoSource);
                video.load();
                video.play();
            };

            reader.onprogress = function (e) {
                console.log('progress: ', Math.round((e.loaded * 100) / e.total));
            };

            reader.readAsDataURL(files[0]);
        });
    </script>
{% endblock %}