{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trim Video</title>

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    video {
        display: none;
        border-radius: 7px;
        border-style: solid;
        color: #333333;
        width: 100%;
        height: 100%;
    }

    #detectButton {
        visibility: hidden;
    }

    #hhmmss-container1,
    #hhmmss-container2 {
        visibility: hidden;
    }

    .custom-hhmmss-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .custom-hhmmss {
        display: flex;
        align-items: center;
    }

    .custom-hhmmss input {
        width: 40px;
        margin: 0 5px;
        text-align: center;
    }
</style>

<body class="d-flex flex-column min-vh-100">
    <header>
        <div id="menu-jk" class="nav-part shadow-md bg-white navcol">
            <div class="container-lg">
                <div class="row  p-2">
                    <div class="col-lg-3 p-2">
                        <a href="{% url 'index' %}">
                            <img class="max-230" src="{% static 'assets/images/logoh.png' %}" alt="">
                        </a>
                        <a data-bs-toggle="collapse" data-bs-target="#menu" class="float-end d-lg-none pt-1 ps-3"><i
                                class="bi pt-1 fs-1 cp bi-list"></i></a>
                    </div>
                    <div id="menu" class="col-lg-9 d-none pt-1 d-lg-block">
                        <ul class="fw-bold nacul fs-7">
                            <li class="float-start p-3 px-4"><a href="{% url 'DF_detect'  %}">DeepFake Detection</a>
                            </li>
                            <li class="float-start p-3 px-4"><a href="{% url 'colourize' %}">Colorization</a></li>
                            <li class="float-start p-3 px-4"><a href="">Upscaling</a></li>
                            <li class="float-start p-3 px-4"><a href="{% url 'extract_frames' %}">Extract Frames</a>
                            </li>
                            <li class="float-start p-3 px-4"><a href="{% url 'reverse' %}">Reverse </a></li>
                            <li class="float-end d-none d-md-block pt-2">
                                <button class="btn fw-bolder px-4 py-2 btn-dark">Login</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="section-title row">
        <h2 class="fs-1 fw-bold" style="margin-top: 5%;">Trim/Crop Video</h2>
        <p>You can now trim your videos, allowing you to keep only the most important and engaging
            parts. Whether you want to remove unnecessary sections, cut down on video length, or focus on specific
            moments, our Video Trimming feature provides you with the flexibility to create polished and concise video
            content. When trimming use the HH:MM:SS format.</p>
    </div>

    <div class="col-lg-3 mb-4 col-md-6 mx-auto">
        <div class="cover text-center p-1 bg-white">
            <video id="video" controls></video>
        </div>
    </div>

    <div class="container mb-auto">
        <!-- Centered input field using Bootstrap classes -->
        <form action="{% url 'trim' %}" method="post" class="text-center" id="detectForm"
            onsubmit="submitForm(this.querySelector('button[type=submit]'));" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-6 mx-auto">
                    <input class="form-control form-control-lg" id="formFileLg" type="file" accept="video/*"
                        name="input_vid" required onchange="checkFields()" />
                </div>
                <div class="custom-hhmmss-container">
                    <div class="custom-hhmmss" id="hhmmss-container1">
                        <input type="number" name="hh1" value="00">
                        <span>:</span>
                        <input type="number" min="0" max="59" name="mm1" value="00">
                        <span>:</span>
                        <input type="number" min="0" max="59" name="ss1" required>
                    </div>

                    <div class="custom-hhmmss" id="hhmmss-container2">
                        <input type="number" name="hh2" value="00">
                        <span>:</span>
                        <input type="number" min="0" max="59" name="mm2" value="00">
                        <span>:</span>
                        <input type="number" min="0" max="59" name="ss2" required>
                    </div>

                </div>
                <div class="col-sm-6 mt-3 mx-auto">
                    <button type="submit" class="btn btn-dark mb-2 pt-2 pb-2" id="detectButton">Trim Video</button>
                </div>
            </div>
        </form>
    </div>

    <footer class="text-center text-white " style="background-color:black;">
        <!-- Grid container -->
        <div class="container pt-1 pb-1">
            <!-- Section: Social media -->
            <section class="mb-2">
                <!-- Facebook -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #3b5998;" href="#!"
                    role="button"><i class="bi bi-facebook"></i></a>

                <!-- Twitter -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #55acee;" href="#!"
                    role="button"><i class="bi bi-twitter"></i></a>
                <!-- Instagram -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #ac2bac;" href="#!"
                    role="button"><i class="bi bi-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #0082ca;" href="#!"
                    role="button"><i class="bi bi-linkedin"></i></a>
                <!-- Github -->
                <a class="btn text-white btn-floating m-2 rounded-circle" style="background-color: #333333;" href="#!"
                    role="button"><i class="bi bi-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <div class="text-center p-2" style="background-color: rgba(97, 90, 90, 0.2);">
            <a href="https://www.smarteyeapps.com/" class="text-white">2022 &copy; All Rights Reserved | Designed and
                Developed by Smarteyeapps.com</a>
        </div>
    </footer>

    <!--Field visibility-->
    <script>
        function checkFields() {
            var formFileVid = document.getElementById('formFileLg');
            var detectButton = document.getElementById('detectButton');
            var video = document.getElementById('video');
            var time_2 = document.getElementById('hhmmss-container1');
            var time_1 = document.getElementById('hhmmss-container2');
            // Check if both input fields are filled hhmmss-container
            if (formFileVid.files.length > 0) {
                // Display the #detectButton
                video.style.display = 'block';
                detectButton.style.visibility = 'visible';
                time_1.style.visibility = 'visible';
                time_2.style.visibility = 'visible';
            };
        }
    </script>

    <!--submit button animation-->
    <script>
        function submitForm(button) {
            const form = button.form;

            // Set button properties
            button.disabled = true;
            button.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Triming';
            // Submit the form
            form.submit();
        }
    </script>

    <!--Video display-->
    <script>
        const input = document.getElementById('formFileLg');
        const video = document.getElementById('video');
        const videoSource = document.createElement('source');

        input.addEventListener('change', function () {
            const files = this.files || [];

            if (!files.length) return;

            const reader = new FileReader();

            reader.onload = function (e) {
                videoSource.setAttribute('src', e.target.result);
                video.appendChild(videoSource);
                video.load();
                video.play();
            };

            reader.onprogress = function (e) {
                console.log('progress: ', Math.round((e.loaded * 100) / e.total));
            };

            reader.readAsDataURL(files[0]);
        });
    </script>
</body>
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

</html>